node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
nlwcopa-mobile-components-main
client_secret_159844169839-q5i0vmgsasuppjt5qn7gihmpbecche3m.apps.googleusercontent.com
1-aula
# macOS
.DS_Store
